@page
@model ExtraModel

    <p>Om te laten zien dat ik het kan en wil moet ik het wel bewijzen! Ik heb minesweeper deels nagemaakt helemaal in javascript.</p>
<div class="options">
    <div>
        <p>hoogte</p>
        <input class="height" type="text" value="20"/>
    </div>
    <div>
        <p>breedte</p>
        <input class="width" type="text" value="20"/>
    </div>
    <div>
        <p>aantal mijnen</p>
        <input class="mine-amount" type="text" value="40"/>
    </div>
    <button class="make-grid">Maak aan</button>
</div>
<div class="scroll-container">
    <div id="grid" class="grid-container" oncontextmenu="return false"></div>
</div>
<p class="mines-left"></p>
@section Scripts {
    <script src="~/js/Minesweeper.js" asp-append-version="true"></script>
}