@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left page">
    <h1>Mijn naam is @Model.Naam</h1>
    <p class="page-text">en ik ben een software developer.</p>
</div>
