@page
@model PortfolioModel
@{
    ViewData["Title"] = "Portfolio";
}

<div class="container text-left page">
    <div class="row">
        <div class="col">
            <h1>VAARDIGHEDEN</h1>
            <p>Sterk problemen aanpakken</p>
            <h1>EIGENSCHAPPEN</h1>
            <p>Leergierig</p>
            <p>Rustig</p>
            <hr />
            <h1>TALEN</h1>
            <div class="row">
                <div class="col">
                    <p>Nederlands</p>
                    <p>Engels</p>
                </div>
                <div class="col">
                    <p>7/10</p>
                    <p>9/10</p>
                </div>
            </div>
            <hr />
            <h1>PROGRAMMEER TALEN</h1>
            <div class="row">
                <div class="col">
                    <p>C#</p>
                    <p>PY</p>
                    <p>MYSQL</p>
                </div>
                <div class="col">
                    <p>8.5/10</p>
                    <p>7.5/10</p>
                    <p>7/10</p>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>PROFIEL</h1>
            <p class="page-text">
                Als developer heb ik veel plezier met mijn werk. Het is makkelijk voor mij om met andere mensen om te gaan en nieuwe gezichten te ontmoeten.
                Ik ben behulpzaam en vragen stellen is ook nooit een probleem.
            </p>
            <hr />
            <h1>OPLEIDINGEN</h1>
            <div class="row">
                <div class="col">
                    <p class="h5 no-margin-bottom">Mbo Software Development</p>
                    <p class="small-text">Koning Willem 1 College, Den Bosch</p>
                </div>
                <div class="col">
                    <p class="text-right">sep 2020 - heden</p>
                </div>
            </div>
            <hr />
            <h1>WERKERVARING</h1>
            <div class="row">
                <div class="col">
                    <p class="h5 no-margin-bottom">Vakkenvuller</p>
                    <p class="small-text">Jumbo, Heesch</p>
                </div>
                <div class="col">
                    <p class="text-right">apr 2019 - aug 2019</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <p class="h5 no-margin-bottom">Magazijnmedewerker</p>
                    <p class="small-text">Unipol, Oss</p>
                </div>
                <div class="col">
                    <p class="text-right">jun 2022 - jul 2022</p>
                </div>
            </div>
            <hr />
            <h1>STAGES</h1>
            <div class="row">
                <div class="col">
                    <p class="h5 no-margin-bottom">Stagiaire web developer</p>
                    <p class="small-text no-margin-bottom">Dennis Vervest, Oss</p>
                    <p>Als stagiaire web developer heb ik veel kennis gemaakt met wordpress en heb ik allerlei websites in elkaar gemaakt.</p>
                </div>
                <div class="col">
                    <p class="text-right">sep 2021 - feb 2022</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="h5 no-margin-bottom">Stagiaire software developer</p>
                    <p class="small-text no-margin-bottom">Leon Leenders, Volkel</p>
                    <p class="no-margin-bottom">Als stagiaire software developer heb ik hier ontzettend veel geleerd over c#, ook hoe programmeertalen op de achterkant werken en hoe ik zelfstandig aan de gang kan gaan.
                        Wat ik hier gedaan heb:
                    </p>
                    <ul>
                        <li>Een grasshopper systeem vernieuwen</li>
                        <li>Helpen met een website bouwen</li>
                        <li>Deze portfolio maken</li>
                    </ul>
                </div>
                <div class="col">
                    <p class="text-right">feb 2023 - jun 2023</p>
                </div>
            </div>
        </div>
    </div>
</div>